@keyframes fadee {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

html {scroll-behavior: smooth;}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f1117;
    -ms-overflow-style: none;
    overflow: hidden;
}
body::-webkit-scrollbar {display: none;}

/* PC NAVBAR */
.navbar {
    position: fixed;
    /* background-color: #14111f; */
    top: 0;
    z-index: 1000;
    width: 100%;
    align-items: center;
    padding: 5px 0px;

    opacity: 0;
    transition: opacity 0.7s ease-in-out, visibility 1s ease-in-out;
    animation-name: fadee;
    animation-duration: 2s;
    visibility: hidden;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 0.5px solid rgb(54, 54, 54);
}

.navmain{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.navbar a {
    color: #dadada;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    display: inline;
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-logo{
    /* padding-top: 6px; */
    width: 35px;
}


/* MOBILE NAVBAR */
.navbar_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    opacity: 1;
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
    visibility: hidden;
    padding-top: 7.5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 7.5px;
}

.navmain_ {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.more-button_ {
    font-size: 30px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    background: transparent;
    padding-bottom: 0;
    color: white;
}

.navlinks_ {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 999;
    visibility: hidden;
    text-align: center;
    background: rgb(35, 31, 51);
    border-radius: 10px;

}
.navbar-links_ {
    padding-right: 40px;
}
.navlinks_.show {
    display: flex;
    opacity: 1;
    visibility: visible; /* Ensure visibility when shown */
    margin-top: 35px;
}

.navbar-links_ a {
    color: rgb(209, 209, 209);
    font-size: 14px;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

.navbar-links_ a:hover {
    opacity: 0.8;
}
.navbar-brand_{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-logo_{
    width: 21px;
    margin-right: 4px;
}






.home {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    transition: opacity 0.7s ease-in-out, visibility 1s ease-in-out;
    animation-name: fadee;
    animation-duration: 2s;
    visibility: hidden;
}
.home-main{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}
@media(max-width: 1350px){
    .home-main{flex-direction: column; margin-top: 5%;}
    .home{height: auto;}
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover; /* Cover the entire area without stretching */
    z-index: -1; /* Keep the image behind content */
}
.home-content {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.XET {
    display: inline-block;
    background: linear-gradient(to right, #ffffff, #df95ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    width: auto;
}
.home-desc {
    font-size: 1.1rem;
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.4;
    margin: 15px 0px;
    max-width: 600px;
    word-wrap: break-word;
}
.tablet {
    width: 100%;
    height: auto;
    max-width: 800px;
    display: block;
}

/* Base button style */
.discord-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none; /* Remove underline */
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, #ffffff, #e0e0e0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background 0.5s ease, transform 0.4s ease;
}
.play-btn{
    padding: 10px 20px;
    margin-left: 20px;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none; /* Remove underline */
    border: 1px white solid;
    border-radius: 20px;


    cursor: pointer;
    transition: background 0.5s ease, transform 0.4s ease;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media(max-width: 460px){
    .btn{flex-direction: column; width: 100%;}
    .play-btn{margin: 15px; width: 90%;}
    .discord-btn{width: 90%;}
    .XET{font-size: 1.7rem;}
    .home{margin-top: 25px;}
}
.discord-btn:hover, .play-btn:hover {
    transform: scale(1.05);
}

.discord-btn:active, .play-btn:active {
    background: linear-gradient(45deg, #ffffff, #808080);
    transform: scale(0.95);
}

.home-models {
    margin-top: 50px;
    width: auto;
    max-width: 1224px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    background-color: #181622;
    padding: 60px;
    margin: 50px 20px;
    background-image: url('/images/colorbg.png');
    background-position: center;
}

@media(max-width: 1240px){
    .home-models{padding: 0px;}
    .model{margin: 0px 0px;}
}
.model{
    display: flex;
    flex-direction: column;
    margin: 20px 35px;
}
.textinfo{
    font-size: 20px;
    color: grey;
}
.stats{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    margin: 4px 0;
}









.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    background-image: radial-gradient(closest-side, rgba(35, 39, 46, .70), #0f1117), url(features_back.png);
}


.features-heading {
    text-align: center;
    color: #e0e0e0;
    font-size: 19px;
}
.feature-desc{
    text-align: center;
    color: rgb(212, 212, 212);
    font-size: 19px;
    font-family: 'Clarity City', sans-serif;
    margin-top: -20px;
}

.f {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.f > div {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .f > div {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .f > div {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.feature-item {
    border-radius: 15px;
    padding: 20px;
    color: #e0e0e0;
    text-align: left;
    backdrop-filter: blur(2px);
}
.feature-item h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.feature-item p {
    font-size: 15.5px;
    color: #9CA3AF;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.6

}
#features_icons{
    width: 60px;
}












.playground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);

    margin-top: 60px;
}
.play-header{
    text-align: center;
}
.play-desc{
    max-width: 620px;
    text-align: center;
    margin-bottom: 50px;

    font-size: 15.5px;
    color: #9CA3AF;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.6
}
.play-main-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}
.play-main {
    position: relative;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 30px;
    gap: 20px;
}

.play_div_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

.play-main-desc {
    flex: 1;
    max-width: 50%;
    color: white;
    text-align: center;
}
.play-main-desc-p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15.5px;
    color: #9CA3AF;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.6
}

@media(max-width:1000px){
    .play-main{flex-direction: column;}
    .play-main-desc-p{max-width: 100%; padding: 20px;}
    .play-main-desc{max-width: 100%;}
    .play-main{margin: 20px;}
    .play-header{font-size: 35px;}
}










.footer {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Clarity City", sans-serif;
}

.footer-bg-top {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
}

.footer-top {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 400px;
}

.footer-top-header {
    flex-wrap: wrap;
    margin-top: 20px;
    flex-wrap: wrap;
    font-size: 3rem;
    padding-bottom: 45px;
    height: auto;
    text-align: center;
}

.footer-top-desc {
    max-width: 650px;
    text-align: center;
    margin: 0 auto;

    font-size: 15.5px;
    color: #9CA3AF;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.6
}
.join-now {
    margin-top: 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 20px;

    background-image: url('join_nowbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.join-now-header{
    flex-wrap: wrap;
    font-size: 2rem;
    padding-bottom: 45px;
    height: auto;
    text-align: center;
}
.join-now-desc{
    max-width: 700px;
    font-size: 15.5px;
    color: #838a97;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.6
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}
.footer-content-div{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.fcc {
    flex: 1;
    margin: auto 60px;
    max-width: 600px;
    max-height: 200px;
    text-align: center;
}

.arr {
    text-align: center;
    margin: 20px auto;
}
.footer a {
    text-decoration: none;
    color: rgb(190, 190, 190);
    font-size: 18px;
}

.footer a:hover {
    color: #7e5bff;
}

@media (max-width:1300px) {
    .join-now{width: auto; margin: 20px; height: auto;}
    .footer-top{margin-top: 300px;}
}

@media (max-width:650px) {
    .join-now{width: auto; margin: 20px; height: auto;}
}

@media(max-width: 950px){
    .footer-content-div{flex-direction: column;}
    .footer-top-header{font-size: 2rem;}
    .join-now-header{font-size: 2rem;}
    .join-now{padding-top: 10px;}
    .footer-top{margin-top: 150px;}
}