@keyframes borderColorAnimation {
    0% {
        border-color: #1a1aff; /* Dark blue */
    }
    50% {
        border-color: #871616; /* Red */
    }
    100% {
        border-color: #1a1aff; /* Dark blue */
    }
}

@keyframes fadee {
    0% {opacity: 0;}
    100% {opacity: 1;}
}  
html {scroll-behavior: smooth;}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f1117; /* Dark theme background */
    -ms-overflow-style: none;  /* IE and Edge */
    overflow: hidden;
}
body::-webkit-scrollbar {display: none;}

/* PC NAVBAR */
.navbar {
    position: fixed;
    background-color: #14111f;
    top: 0;
    z-index: 1000;
    width: 100%;
    align-items: center;
    padding: 5px 0px;

    opacity: 0;
    transition: opacity 0.7s ease-in-out, visibility 1s ease-in-out;
    animation-name: fadee;
    animation-duration: 2s;
    visibility: hidden;

    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-bottom: 0.5px solid rgb(54, 54, 54); /* Border at the bottom only */
}

.navmain{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.navbar a {
    color: #dadada;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    display: inline;
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-logo{
    /* padding-top: 6px; */
    width: 35px;
}


/* MOBILE NAVBAR */
.navbar_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(25, 18, 31);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    opacity: 1;
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
    visibility: hidden;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.navmain_ {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.more-button_ {
    font-size: 30px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    background: transparent;
    padding-bottom: 0;
    color: white;
}

.navlinks_ {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 999;
    visibility: hidden;
    text-align: center;
    background: rgb(35, 31, 51);
    border-radius: 10px;

}
.navbar-links_ {
    padding-right: 40px;
}
.navlinks_.show {
    display: flex;
    opacity: 1;
    visibility: visible; /* Ensure visibility when shown */
    margin-top: 35px;
}

.navbar-links_ a {
    color: rgb(209, 209, 209);
    font-size: 14px;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

.navbar-links_ a:hover {
    opacity: 0.8;
}
.navbar-brand_{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-logo_{
    width: 21px;
    margin-right: 4px;
}






.home {
    position: relative;
    height: 1240px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    opacity: 0;
    transition: opacity 0.7s ease-in-out, visibility 1s ease-in-out;
    animation-name: fadee;
    animation-duration: 2s;
    visibility: hidden;
}
.home-main{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}
@media(max-width: 1350px){
    .home-main{flex-direction: column; margin-top: 5%;}
    .home{height: auto;}
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover; /* Cover the entire area without stretching */
    z-index: -1; /* Keep the image behind content */
}
.home-content {
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.XET {
    display: inline-block;
    background: linear-gradient(to right, #cccbe0, #df95ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.9rem;
    font-weight: bold;
    text-align: left;
    width: auto;
    max-width: 450px;
}
.home-desc {
    font-size: 1.1rem;
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.4;
    margin: 15px 0px;
    max-width: 600px;
    word-wrap: break-word;
}
.tablet {
    width: 100%; /* Image scales to fit the container */
    height: auto; /* Maintains aspect ratio */
    max-width: 900px; /* Prevents it from becoming larger than 800px */
    display: block; /* Removes any inline spacing issues */
    margin: 0 auto; /* Centers the image horizontally */
}

/* Base button style */
.discord-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none; /* Remove underline */
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, #ffffff, #e0e0e0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background 0.5s ease, transform 0.4s ease;
}
.play-btn{
    padding: 10px 20px;
    margin-left: 20px;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none; /* Remove underline */
    border: 1px white solid;
    border-radius: 20px;


    cursor: pointer;
    transition: background 0.5s ease, transform 0.4s ease;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media(max-width: 460px){
    .btn{flex-direction: column; width: 100%;}
    .play-btn{margin: 15px; width: 90%;}
    .discord-btn{width: 90%;}
    .XET{font-size: 2.4rem; text-align: center;}
    .home{margin-top: 25px;}
}
.discord-btn:hover, .play-btn:hover {
    transform: scale(1.05);
}

.discord-btn:active, .play-btn:active {
    background: linear-gradient(45deg, #ffffff, #808080);
    transform: scale(0.95);
}

.home video {
    max-width: 500px;
    object-fit: cover; /* Ensure the video covers the container without distortion */
    overflow: hidden;
    /* box-shadow: 0 0 16px 8px rgba(166, 132, 204, 0.5); */
    border-radius: 50%;
    margin-left: auto;
}

.home-models{
    margin-top: 50px;
    width: auto;
    max-width: 1224px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto 0px;
    border-radius: 20px;
    background-color: #181622;
    padding: 60px;
    margin: 50px 20px;
}
@media(max-width: 1240px){
    .home-models{padding: 0px;}
    .model{margin: 0px 0px;}
}
.model{
    display: flex;
    flex-direction: column;
    margin: 20px 35px;
}
.textinfo{
    font-size: 20px;
    color: grey;
}
.stats{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    margin: 4px 0;
}









.features {
    display: flex;
    flex-direction: column; /* Stack the heading and feature items vertically */
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    
    /* opacity: 0;
    transition: opacity 0.7s ease-in-out, visibility 1s ease-in-out;
    animation-name: fadee;
    animation-duration: 2s;
    visibility: hidden; */


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.features-heading {
    text-align: center;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-size: 19px;
}

.f {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1700px;
}

.feature-item {
    border-radius: 15px;
    padding: 20px;
    max-width: 360px;
    color: #e0e0e0;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(166, 132, 204, 0.5);
    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
    /* background: linear-gradient(140deg, #070707, #240e2e); */
}


.feature-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 0.9rem;
    font-family: 'Roboto Mono', monospace;
}



.playground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows the divs to wrap to the next line if they don't fit */
    /* min-height: 100vh; */
    color: rgb(133, 255, 255);

    /* opacity: 0;
    transition: opacity 0.7s ease-in-out, visibility 1s ease-in-out;
    animation-name: fadee;
    animation-duration: 2s;
    visibility: hidden; */

    text-align: center;
    padding: 20px;
    /* margin-bottom: 40px; */
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), 
        url('playback.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.play_desc, .play_div_img {
    flex: 1; /* Allow both divs to grow and take up available space */
}

.play_img {
    max-height: 600px;
    height: auto;
    width: auto;
    max-width: 100%;
    border-radius: 20px;
}

@media (max-width: 1100px) {
    .playground {
        flex-direction: column; /* Stack divs vertically on smaller screens */
    }

    .play_img {
        margin-top: 20px;
        max-height: 400px; /* Adjust the max height for smaller screens */
    }

    .play_desc, .play_div_img {
        flex: 0; /* Allow both divs to grow and take up available space */
    }
}

@media(max-width: 800px){
    .playground{margin-bottom: 0px;}
}




.footer {
    background-color: #000000; /* Ensure consistent background color */
    text-align: center;
    color: white;
    padding: 50px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: row; /* Align children in a row by default */
    justify-content: space-between; /* Space out items */
    width: 100%; /* Full width to allow flex items to grow */
    max-width: 1200px; /* Optional: to control the maximum width of the content */
    margin-bottom: 10px; /* Space between footer-content and arr */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.fcc {
    flex: 1; /* Allow items to grow and fill available space */
    margin: 0 20px; /* Space between items */
    max-width: 200px; /* Optional: control max width for each section */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.arr {
    text-align: center;
}

/* Style for links */
.footer a {
    color: #b3ceff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    color: #ddd;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center-align items horizontally */
    }

    .fcc {
        margin: 10px 0; /* Adjust margin for vertical spacing */
        max-width: none; /* Remove max-width to allow items to use full width */
    }
}