html{
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(-90deg,#000000, #141414, #000000);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: none;
    background-image: url("https://naga.ac/patternpad.svg");
    color: white;
}




/* - - - - - - - - - - - - - - - -  HEADING - - - - - - - - - - - - - - - - */
#headingg {
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Stacks flex items vertically */
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#bot_pfp{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.6);
    margin-top: 40px;
    margin-bottom: 60px;
}
#bot_name {
    background: linear-gradient(-45deg,#757575, #ffffff);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Fallback for non-webkit browsers */
    text-align: center;
    font-size: 45px;
    /* letter-spacing: -0.060em; */
}
#support-button {
    background: white;
    border: none; /* Remove default border */
    border-radius: 10px;
    height: 40px;
    width: 140px;
    color: black; /* Text color */
    font-size: 16px;
    cursor: pointer; /* Change mouse cursor to indicate button */
    outline: none; /* Remove focus outline */
    box-shadow: 0px 0px 10px 0px rgba(192, 165, 255, 0.6);
    transition: box-shadow 0.2s ease, background 0.2s ease, color 0.2s ease, transform 0.3s ease; /* Corrected transition property */
    margin: 20px;
}
    
/* Hover effect to slightly change the gradient */
#support-button:hover {
box-shadow: 0px 0px 9px 1px rgba(255, 255, 255, 0.6);
background: black;
color: white; /* Text color */
}


hr {
    height: 2px;
    background-color: #373737;
    border: none;
}
#tos{
    display: flex;
    margin-top: 40px;
    flex-direction: column; /* Stacks flex items vertically */
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#tos-welcome{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

#tos-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 17px;
    padding: 30px;
    max-width: 900px;
}