html{
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(-90deg,#000000, #141414, #000000);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: none;
    background-image: url("https://naga.ac/patternpad.svg");
    color: white;
}




/* - - - - - - - - - - - - - - - -  HEADING - - - - - - - - - - - - - - - - */
#headingg {
    margin-top: 100px;
    display: flex;
    flex-direction: column; /* Stacks flex items vertically */
    /* justify-content: center; Centers content vertically within the container */
    align-items: center;
    /* height: 100vh; */
    max-width: 800px;
    margin-left: auto; /* Centers the container horizontally */
    margin-right: auto; /* Centers the container horizontally */
}
#bot_pfp{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.6);
    margin-top: 40px;
    margin-bottom: 60px;
}

#bot_name {
    background: linear-gradient(-45deg,#757575, #ffffff);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Fallback for non-webkit browsers */
    text-align: center;
    font-size: 45px;
    letter-spacing: -0.060em;
}

#bot_bio{
    font-size: 22px;
    padding: 20px;
    box-shadow: 0px 0px 30px 0px rgba(56, 56, 56, 0.6);
    border-left: 2px solid #ff0000;
    border-right: 2px solid #ff0000;
}










/* - - - - - - - - - - - - - - - -  INVITE BOT - - - - - - - - - - - - - - - - */
#invite-bot {
    background: linear-gradient(-45deg,#000000, #170000);
    border: none; /* Remove default border */
    border-radius: 6px;
    height: 60px;
    width: 180px;
    font-weight: 600;
    color: white; /* Text color */
    font-size: 16px;
    cursor: pointer; /* Change mouse cursor to indicate button */
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(192, 165, 255, 0.6);
    transition: box-shadow 0.2s ease, transform 0.3s ease;
    margin: 20px;
}

/* Hover effect to slightly change the gradient */
#invite-bot:hover {
    box-shadow: 0px 0px 9px 1px rgba(255, 255, 255, 0.6);
}












/* - - - - - - - - - - - - - - - -  SUPPORT - - - - - - - - - - - - - - - - */
#support {
    display: flex;
    margin-top: 150px;
    flex-direction: column; /* Stacks flex items vertically */
    background: linear-gradient(-90deg,#000000,#050505, #181818);
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    border-radius: 16px;
    border: 0.7px solid #313131;
    margin-left: auto;
    margin-right: auto;
    transition: border 0.2s ease, transform 0.3s ease;
}
#support:hover{
    border: 0.7px solid #b9c0ff;
}
#support-text{
    font-size: 30px;
    background: linear-gradient(-45deg,#b9d7ff, #979797);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}

#support-button {
    background: white;
    border: none; /* Remove default border */
    border-radius: 10px;
    height: 40px;
    width: 140px;
    color: black; /* Text color */
    font-size: 16px;
    cursor: pointer; /* Change mouse cursor to indicate button */
    outline: none; /* Remove focus outline */
    box-shadow: 0px 0px 10px 0px rgba(192, 165, 255, 0.6);
    transition: box-shadow 0.2s ease, background 0.2s ease, color 0.2s ease, transform 0.3s ease; /* Corrected transition property */
    margin: 20px;
}
    
/* Hover effect to slightly change the gradient */
#support-button:hover {
box-shadow: 0px 0px 9px 1px rgba(255, 255, 255, 0.6);
background: black;
color: white; /* Text color */
}












/* - - - - - - - - - - - - - - - -  features - - - - - - - - - - - - - - - - */

#features {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 800px; */
}

#ai, #simple, #stable {
    text-align: center;
    width: 600px;
    height: 400px;
}
#f-heading{
    font-size: 27px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#f-desc{
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}