/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #b4b4b4 !important;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}


:root {
    --scrollbar-track-color: #000000;
    --scrollbar-thumb-color: #1f1f1f;
    --scrollbar-thumb-hover-color: #3b3b3b;
}

::-webkit-scrollbar {width: 12px;}
::-webkit-scrollbar-track {background: var(--scrollbar-track-color);}
::-webkit-scrollbar-thumb {background: var(--scrollbar-thumb-color); border-radius: 6px;}
::-webkit-scrollbar-thumb:hover {background: var(--scrollbar-thumb-hover-color);}
* {scrollbar-width: thin; scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);}



/* Sidebar Styles */
.sidebar {
    background-color: #000000;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1e1e1e;

    /* Fix the sidebar*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.sidebar-logo {
    max-width: 30px;
    height: 30px;
}

.sidebar-header {
    color: white;
    background-color: #000000;
    text-align: center;
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: center;
    height: 60px;
}

.sidebar-menu li a.active {
    font-weight: bold;
    color: white;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.sidebar-menu li {
    position: relative;
}
.sidebar-menu li a {
    color: #8f8f8f;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
    border-radius: 10px;
    margin: 5px;

    position: relative;
    display: inline-block;
}
.sidebar-menu li a:hover {
    background-color: #161616;
}

.sidebar-menu a::after {
    content: attr(data-tooltip); /* Use the data-tooltip attribute */
    position: absolute;
    bottom: 100%; /* Position above the link */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8); /* Tooltip background */
    color: white; /* Tooltip text color */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: translateX(-50%) translateY(10px); /* Start position */
    pointer-events: none; /* Prevent tooltip from blocking hover */
    z-index: 10;
    margin-left: 3px;
}

.sidebar-menu a:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Fade in and move up */
}






/* Main Content Styles */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    margin-left: 58px;
}

.navbar {
    color: rgb(126, 126, 126);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 30px;
    padding: 15px;
    border-bottom: 1px solid #1e1e1e;
}
.mobile-navbar {
    color: rgb(126, 126, 126);
    background: #000000;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 30px;
    border-bottom: 1px solid #1e1e1e;
    display: none;
}

.mobile-sidebar-menu li a.active {
    font-weight: bold;
    color: white;
}

.mobile-sidebar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile-sidebar-menu li {margin-right: 15px;}
.mobile-sidebar-menu li a {
    color: rgb(126, 126, 126);
    text-decoration: none;
    font-size: 18px;
}

.navbar h1 {
    margin: 0;
    font-size: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    margin-right: 10px;
}



/* Content Section */
.notif {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    border-left: 10px solid #373737;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 7px;
    background-color: #121212;
}

.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.analytics-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width:700px) {
    .mobile-navbar{display: inline;}
    .navbar{display: none;}
    .sidebar{display: none;}
    .main-content{margin-left: 0px;}
}



/* API TOKENS */
.main-tokens{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tokens_action_button{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
}
.token-generate, .token-delete, .token-view{
    background-color: #2b2b2b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.token-generate:hover {
    background-color: #494949;
}
.token-generate:disabled {
    background-color: #1f1f1f;
    cursor: not-allowed;
    opacity: 0.7;
}
.api_tokens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token-1{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    width: 80%;
    border: 1px solid #2e2e2e;
}
@media(max-width: 500px){
    .token-1{flex-direction: column;}
}

.token-delete{background-color: #7d0000;}
.token-delete:hover{background-color: rgb(196, 2, 2);}
.token-view:hover{background-color: #4b4b4b;}





.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
    visibility: visible;
    opacity: 1; /* Fade in */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #141414;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(119 119 119);
    width: auto;
    max-width: 400px;
    max-width: 90%;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: red;
}

pre{
    background-color: black !important;
    overflow: scroll !important;
    width: 511px;
}

@media(max-width:600px){
    pre{width: 330px;}
}

@media(max-width:413px){
    pre{width: 300px;}
}

@media(max-width:383px){
    pre{width: 230px;}
}