/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #b4b4b4 !important;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}




/* Sidebar Styles */
.sidebar {
    background-color:#080812;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #2f2f2f;
}
.sidebar-logo{
    max-width: 30px;
    height: 30px;
    /* margin-right: 5px; */
}
.sidebar-header {
    color: white;
    background-color: #080812;
    text-align: center;
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: center;
    height: 60px;
    /* border-bottom: 1px solid #2f2f2f; */
}
.sidebar-menu li a.active {
    font-weight: bold;
    color: white;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li a {
    display: block;
    color: #8f8f8f;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
    border-radius: 10px;
    margin: 5px;
}

.sidebar-menu li a:hover {
    background-color: #161616;
}




/* Main Content Styles */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #070018;
}

.navbar {
    color: rgb(126, 126, 126);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #080812;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 30px;
    padding: 15px;
    border-bottom: 1px solid #2f2f2f;
}
.mobile-navbar {
    color: rgb(126, 126, 126);
    background: #080812;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 30px;
    border-bottom: 1px solid #2f2f2f;
    display: none;
}

.mobile-sidebar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile-sidebar-menu li {margin-right: 15px;}
.mobile-sidebar-menu li a {
    color: rgb(126, 126, 126);
    text-decoration: none;
    font-size: 18px;
}

.navbar h1 {
    margin: 0;
    font-size: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    margin-right: 10px;
}

/* Content Section */
.notif {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: #12164f;
    border-left: 10px solid #ffffff; /* Adjust the width and color as needed */
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 7px;
}

.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.analytics-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width:700px) {
    .mobile-navbar{display: inline;}
    .navbar{display: none;}
    .sidebar{display: none;}
}



/* API TOKENS */
.main-tokens{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tokens_action_button{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
}
.token-generate, .token-delete, .token-view{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.token-generate:hover {
    background-color: #218838;
}
.token-generate:disabled {
    background-color: #50854b;
    cursor: not-allowed;
    opacity: 0.7;
}
.api_tokens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token-1{
    display: flex;
    flex-direction: row;
    background-color: #12164f;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    width: 80%;
}
@media(max-width: 500px){
    .token-1{flex-direction: column;}
}

.token-delete{background-color: red;}
.token-delete:hover{background-color: rgb(196, 2, 2);}
.token-view:hover{background-color: #196429;}



/* Modal container with fade effect */
.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
    visibility: visible;
    opacity: 1; /* Fade in */
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121c39;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(0 0 0);
    width: auto;
    max-width: 400px;
    max-width: 90%;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: red;
}
